@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ffdd00 0%, #ffbb00 100%);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, a, span {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Suave sombra en los bordes */
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
